.banner-container {
  position: relative;
  background: #e5e5e5;
}

.banner-container h1 {
  position: absolute;
  font-size: 7vw;
  font-weight: 600;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  white-space: nowrap;
  color: white;
}

.banner-container h3 {
  position: absolute;
  top: 90%;
  left: 37%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-weight: 600;
  font-size: 6vw;
  white-space: nowrap;
  color: #e66c21;
}
