footer {
  width: 85%;
  margin-top: 1rem;
  font-size: 14px;
}

.app__footer-cards {
  width: fit-content;
}

.app__footer-card {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #38737f;
    color: white;
  }

  a {
    text-decoration: none;
    font-weight: 500;
    color: white;
  }