footer {
  width: 85%;
}

.contact-cards {
  width: fit-content;
}

.contact-card {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
  background: linear-gradient(
    to left,
    #3c8297,
    #276578
  );
  color: white;
}

.contact-card a {
  text-decoration: none;
  color: white;
}
