.container-fluid .package-card-0,
.container .package-card-0,
.container-fluid .package-card-1,
.container .package-card-1 {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .container-fluid .package-card-0,
  .container .package-card-0,
  .container-fluid .package-card-1,
  .container .package-card-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 490px) {
  .package-card-0,
  .package-card-1,
  .package-card-0 p,
  .package-card-1 p,
  .package-card-0 ul,
  .package-card-1 ul,
  .package-card-0 li,
  .package-card-1 li {
    font-size: 12px;
    max-height: 40vh;
  }
}

.package-card-0 {
  padding: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
  border: white 2px solid;
  position: relative;
  overflow: hidden;
}

.package-card-0:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
  transform-origin: 0 0;
  z-index: 1;
}

.package-card-0:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(
    45deg,
    #3c8297 70%,
    #276578 30%
  );
}

.package-card-1 {
  background: linear-gradient(
    to bottom,
    #d8761b,
    #bb6616,
    #a64c02
  );
  padding: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
  border: white 2px solid;
}

.content {
  position: relative;
  z-index: 2;
}

a {
  text-decoration: none;
  color: white;
}
