.container-fluid .package-card-0,
.container .package-card-0,
.container-fluid .package-card-1,
.container .package-card-1 {
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

ul,
li {
  list-style: none;
}

@media screen and (min-width: 768px) {
  .container-fluid .package-card-0,
  .container .package-card-0,
  .container-fluid .package-card-1,
  .container .package-card-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 490px) {
  .package-card-0,
  .package-card-1,
  p,
  li {
    font-size: 11px;
    max-height: 37vh;
  }
}

.package-card-0 {
  background-color: #3c8297;
  padding: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
  border: white 1px solid;
}

.package-card-1 {
  background-color: #b65d29;
  padding: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  color: white;
  border: white 1px solid;
}
