.image-size {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.text-center {
  margin: 1rem;
  
}

@media screen and (max-width: 1000px) {
  .service-text {
    font-size: 12px;
  }
}
