.image-size {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.text-center {
  margin: 1rem;
}

@media screen and (max-width: 998px) {
  .service-text {
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  h4 {
    font-size: 18px;
  }
}
